html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    text-align: center;
    margin: 0 auto;
    max-width: 31.25rem;
    color: #DFFBC0;
    background-color: #02172c;
}

nav li {
    display: inline-block;
}

/* Unvisited link */
a:link {
    color: #acc95a;
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Mouse over link */
a:hover {
    color: #F39B49;
    text-decoration: none;
}

/* Selected link */
a:active {
    color: #F39B49;
    text-decoration: none;
}

article.project {
    margin: 70px 100px;
    padding: 70px;
    color: #acd74e;
    background-color: #000000;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px 70px;
}